<img class="preview" src="assets/bg.png" alt="">
<div class="content">
  <div class="title">
    Very long title, lorem ipsum
    Very long title, lorem ipsum
    Very long title, lorem ipsum
    Very long title, lorem ipsum
  </div>
  <div class="tags">
    <div class="tag">Tag 1</div>
    <div class="tag">Tag 2</div>
    <div class="tag">Tag 3</div>
    <div class="tag">Tag 4</div>
  </div>
  <div class="description">
    {{description()}}
  </div>
  <div class="actions">
    <div class="action">Label</div>
    <div class="action primary">Label</div>
  </div>
</div>

